<div>
  <p>Hello,</p>
  <p>The code bellow will help you to update your password:</p>
  <p><%= confirmation_code %></p>

  <p>Enter this code in verification code fields and click verify.</p>
</div>
>
